<h3>Application form</h3>
<form action="/job/{{job.id}}/apply" method="post">
    <div class="mb-2">
        <label for="full_name">Full name</label><br>
        <input type="text" name="full_name" id="full_name" placeholder="Luis Fonsi" required>
    </div>
    
    <div class="mb-2">
        <label for="email">Email</label><br>
        <input type="email" name="email" id="email" placeholder="luis@gmail.com" required>
    </div>
    
    <div class="mb-2">
        <label for="linkin">LinkedIn URL</label><br>
        <input type="text" name="linkin" id="linkin" placeholder="https://linked.com/in/luisfonsi" required>
    </div>

    <div class="mb-2">
        <label for="edu">Education</label><br>
        <textarea name="edu" id="edu" ></textarea>
    </div>

    <div class="mb-2">
        <label for="work">Work Experience</label><br>
        <textarea name="work" id="work" ></textarea>
    </div>

    <div class="mb-2">
        <label for="resume">Resume link</label><br>
        <input type="text" name="resume" id="resume" required>
    </div>

    <input type="submit" >

</form>